<!DOCTYPE html>
<html ng-app="notesApp">
  <head>
    <meta charset="utf-8">
    <title>Working with AngularJS</title>
  </head>
  <body ng-controller="MainController as mainCtrl">
    <form ng-submit="mainCtrl.submit2()">
      <input type="text" ng-model="mainCtrl.user.userName">
      <input type="password" ng-model="mainCtrl.user.password">
      <input type="submit" value="Submit">
    </form>
    <form ng-submit="mainCtrl.submit1()">
      <input type="text" ng-model="mainCtrl.userName">
      <input type="password" ng-model="mainCtrl.password">
      <input type="submit" value="Submit">
    </form>
  </body>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
  <script type="text/javascript" src="notesApp.js"></script>
</html>
