<!DOCTYPE html>
<html ng-app="notesApp">
  <head>
    <meta charset="utf-8">
    <title>Working with AngularJS</title>
  </head>
  <body ng-controller="MainController as mainCtrl">
    <div>
      <h2>What are your favorite sports?</h2>
      <div ng-repeat="sport in mainCtrl.sports">
        <label ng-bind="sport.label"></label>
        <div>
          With Binding:
          <input type="checkbox"
                 ng-model="sport.selected"
                 ng-true-value="YES"
                 ng-false-value="NO">
        </div>
        <div>
          Using ng-checked:
          <input type="checkbox"
                 ng-checked="sport.selected === 'YES'">
        </div>
        <div>
          Current state: <span ng-bind="sport.selected"></span>
        </div>
    </div>
  </body>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
  <script type="text/javascript" src="notesApp.js"></script>
</html>
